@import '_config';

.people {
  padding: 5em 0;
  color: $primary-foreground-colour;
  background-color: $primary-background-colour;

  .title {
    padding-top: 2em;
    padding-bottom: 5em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  .cardContent {
    background-color: white;
    color: black;
    padding: 0.5em 0em;
    .name {
      font-weight: bold;
    }
    .description {
      padding-top: 0;
    }
  }
  .pictureContainer {
    .picture, .nullPicture {
      width: 100%;
    }

    .nullPicture {
      padding-top: 100%;
      background-color: grey;
      position: relative;

      &::after {
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 6em;
        content: "?";
      }
    }
  }
}

.handles {
  display: flex;
  justify-content: center;
  gap: 0.25em;
  padding: 0.4em 0;
  line-height: 0;
}
